p {
    color: rgb(250, 112, 250);
    width: 600px;
    border: 10px solid rgb(20, 160, 45);
    font-family: 'Pacifico', cursive;
 
  }

  #header1{
    color: rgb(228, 216, 215);
    font-family: 'Playball', cursive;
  }

  h1 {
    font-size: 80px;
    text-align: center;
  }

  ol, li {
    font-size: 20px;    
    line-height: 4;
    letter-spacing: 1px;
  }
  html {
    background-color: rgb(24, 175, 163);
  }

  body {
    width: 600px;
    margin: 0 auto;
    background-color: rgb(170, 43, 5);
    padding: 200px 40px 60px 20px;
    border: 5px solid rgb(226, 43, 226);
  }
 a {
   color: yellow;
 }
  